.header {
  background-color: #ffffff;
  padding: 0 35px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.logo {
  color: #0033a0;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}

/* Адаптивность для AppNavbar */
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
  
  .logo {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0 15px;
  }
  
  .logo {
    font-size: 28px;
  }
}
