/* components/AppNavbar.css */
.header {
  background-color: #ffffff;
  padding: 0 35px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.logo {
  color: #0033a0;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}
