/* index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F8F8F8;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
